:root {
  /**
   * BREAK POINTS
   */
  --token-bp-0: 20rem;
  --token-bp-000: calc(var(--token-bp-00) / 1.33);
  --token-bp-00: calc(var(--token-bp-0) / 1.33);
  --token-bp-1: calc(var(--token-bp-0) * 1.33);
  --token-bp-2: calc(var(--token-bp-1) * 1.33);
  --token-bp-3: calc(var(--token-bp-2) * 1.33);
  --token-bp-4: calc(var(--token-bp-3) * 1.33);
  --token-bp-5: calc(var(--token-bp-4) * 1.33);

  /**
   * FONT FAMILY
   */
  --monospace:
    ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
    "DejaVu Sans Mono", monospace;
  --sans-serif:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --serif: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;

  /**
   * SPACING & SIZING
   * https://utopia.fyi/type/calculator?c=320,16,1.2,1240,20,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12
   */
  --token-size-000: clamp(0.6944rem, 0.6913rem + 0.0157vw, 0.7035rem);
  --token-size-00: clamp(0.8333rem, 0.797rem + 0.1816vw, 0.9377rem);
  --token-size-0: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
  --token-size-1: clamp(1.2rem, 1.0378rem + 0.8109vw, 1.6663rem);
  --token-size-2: clamp(1.44rem, 1.1683rem + 1.3585vw, 2.2211rem);
  --token-size-3: clamp(1.728rem, 1.2992rem + 2.1439vw, 2.9607rem);
  --token-size-4: clamp(2.0736rem, 1.4221rem + 3.2575vw, 3.9467rem);
  --token-size-5: clamp(2.4883rem, 1.5239rem + 4.8219vw, 5.2609rem);

  color-scheme: light;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}
