:root {
  /**
   * BREAK POINTS
   */
  --token-bp-0: 20rem;
  --token-bp-000: calc(var(--token-bp-00) / 1.33);
  --token-bp-00: calc(var(--token-bp-0) / 1.33);
  --token-bp-1: calc(var(--token-bp-0) * 1.33);
  --token-bp-2: calc(var(--token-bp-1) * 1.33);
  --token-bp-3: calc(var(--token-bp-2) * 1.33);
  --token-bp-4: calc(var(--token-bp-3) * 1.33);
  --token-bp-5: calc(var(--token-bp-4) * 1.33);

  /**
   * FONT FAMILY
   */
  --monospace:
    ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
    "DejaVu Sans Mono", monospace;
  --sans-serif:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --serif: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;

  /**
   * SPACING & SIZING
   * https://utopia.fyi/type/calculator/?c=320,16,1.2,1240,20,1.25,5,2,&s=0.75%7C0.5%7C0.25,1.5%7C2%7C3%7C4%7C6,s-l&g=s,l,xl,12
   */
  --token-size-000: clamp(0.6944rem, 0.6577rem + 0.1836vw, 0.8rem);
  --token-size-00: clamp(0.8333rem, 0.7754rem + 0.2899vw, 1rem);
  --token-size-0: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
  --token-size-1: clamp(1.2rem, 1.0739rem + 0.6304vw, 1.5625rem);
  --token-size-2: clamp(1.44rem, 1.2615rem + 0.8924vw, 1.9531rem);
  --token-size-3: clamp(1.728rem, 1.4799rem + 1.2407vw, 2.4414rem);
  --token-size-4: clamp(2.0736rem, 1.7334rem + 1.7011vw, 3.0518rem);
  --token-size-5: clamp(2.4883rem, 2.027rem + 2.3067vw, 3.8147rem);

  color-scheme: light;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}
