/**
 * HOVER GROUP
 * add interactive elements on hover. partly hides non-hover elements and
 * enlarges hover element
 */
[class*="hover-group"] {
  --hover-opacity: 0.4;
  --hover-grow: 1;

  > * {
    transition: all 0.25s;
  }

  @media (hover: hover) {
    &:hover > *:not(:hover),
    &:hover > *:not(:hover)::before,
    &:hover > *:not(:hover)::after {
      opacity: var(--hover-opacity);
    }

    & > *:hover {
      transform: matrix(var(--hover-grow), 0, 0, var(--hover-grow), 0, 0);
    }
  }
}

.hover-group-grow {
  --hover-grow: 1.175;
}
