{%- from "components/callout.njk" import callout -%}
{{ callout("Naming convention", "The basic value of a design token is postfixed with '-0'. If we go one step higher, we go to a postfix of '-1', '-2', etc. We go one step lower, we add a zero to the postfix (e.g. '-000'). This convention is chosen as it is seen to be more readable compared to a '--1' postfix.") }}
