{%- from "components/callout.njk" import callout -%}
{{ callout("Padding classes", "Feo.css provides utility classes for margin, but not for padding. You might wonder why. Feo.css focuses on layout. Margin impacts how element are positioned in relation to each other. Padding does not impact structure, hence it is not part of Feo.css.") }}
