<!-- FOOTER -->
<footer class="repel | italic">
  <span>© <a href="https://crinkles.dev">crinkles</a></span>
  <div class="cluster" style="--layout-gap: var(--p-size--2)">
    <span>Powered by: <a href="https://11ty.dev" class="italic">11ty</a> & Feo.css</span>
    <span>|</span>
    <a href="https://github.com/thecrinkles/feo-css">Github</a>
  </div>
</footer>
