:root {
  /** break-points (1.33 scale) */
  --p-bp-scale: 1.33;
  --p-bp-0: 20rem;
  --p-bp--2: calc(var(--p-bp-0) * pow(var(--p-bp-scale), -2));
  --p-bp--1: calc(var(--p-bp-0) * pow(var(--p-bp-scale), -1));
  --p-bp-1: calc(var(--p-bp-0) * pow(var(--p-bp-scale), 1));
  --p-bp-2: calc(var(--p-bp-0) * pow(var(--p-bp-scale), 2));
  --p-bp-3: calc(var(--p-bp-0) * pow(var(--p-bp-scale), 3));
  --p-bp-4: calc(var(--p-bp-0) * pow(var(--p-bp-scale), 4));
  --p-bp-5: calc(var(--p-bp-0) * pow(var(--p-bp-scale), 5));

  /** spacing, font-size */
  --p-size-scale: 1.25;
  --p-size-0: clamp(1rem, 0.8913rem + 0.5435vw, 1.3125rem);
  --p-size--2: calc(var(--p-size-0) * pow(var(--p-size-scale), -2));
  --p-size--1: calc(var(--p-size-0) * pow(var(--p-size-scale), -1));
  --p-size-1: calc(var(--p-size-0) * pow(var(--p-size-scale), 1));
  --p-size-2: calc(var(--p-size-0) * pow(var(--p-size-scale), 2));
  --p-size-3: calc(var(--p-size-0) * pow(var(--p-size-scale), 3));
  --p-size-4: calc(var(--p-size-0) * pow(var(--p-size-scale), 4));
  --p-size-5: calc(var(--p-size-0) * pow(var(--p-size-scale), 5));

  /** radius */
  --p-radius-scale: 0.25;
  --p-radius-0: var(--p-size-0, 1rem);
  --p-radius--3: calc(var(--p-radius-0) * (1 + var(--p-radius-scale) * -3));
  --p-radius--2: calc(var(--p-radius-0) * (1 + var(--p-radius-scale) * -2));
  --p-radius--1: calc(var(--p-radius-0) * (1 + var(--p-radius-scale) * -1));
  --p-radius-1: calc(var(--p-radius-0) * (1 + var(--p-radius-scale) * 1));
  --p-radius-2: calc(var(--p-radius-0) * (1 + var(--p-radius-scale) * 2));
  --p-radius-3: calc(var(--p-radius-0) * (1 + var(--p-radius-scale) * 3));

  /** font-weight */
  --p-font-weight-regular: 400;
  --p-font-weight-bold: 700;

  /** line-height */
  --p-line-height-0: 1;
  --p-line-height-1: 1.2;
  --p-line-height-2: 1.5;

  /** transitions */
  --p-duration-instant: 0.1s;
  --p-duration-default: 0.3s;
  --p-duration-slow: 0.5s;
  --p-easing-default: cubic-bezier(0.22, 1, 0.36, 1);
}
