/* Box sizing rules */
:where(*, *::before, *::after) {
  box-sizing: border-box;
}

/* Remove all default margin styles of the "User-Agent-Stylesheet" */
:where(*:not(iframe, canvas, img, svg, video):not(svg *)) {
  margin: 0;
}

/* Remove list styles on ul, ol elements, if they have any other class */
:where(ul[role], ol[role]) {
  list-style: none;
  padding-left: 0;
}

:where(ul, ol):not([role]) li {
  padding-left: 0.35em;
}

:where(img, picture, svg) {
  display: block;
  inline-size: 100%;
  max-inline-size: 100%;
  block-size: auto;
}

:where(input, button, textarea, select) {
  font-family: inherit;
  font-size: inherit;
}

/* Removes outlines for mouse users */
:where(:active, :focus):not(:focus-visible) {
  outline: none;
}

/* Makes focus through keyboard better */
:where(:focus-visible) {
  outline: 1px solid currentColor;
}
/* Hide elements */
:where([hidden]) {
  display: none;
}
/* Impacts non-tabbable items */
:where([tabindex="-1"]) {
  outline: none;
}
